{% if ansible_distribution == "Debian" %}
Unattended-Upgrade::Origins-Patterns {
{% else %}
Unattended-Upgrade::Allowed-Origins {
{% endif %}
{% if security_autoupdates_type == "security" %}
  "${distro_id} ${distro_codename}-security";
{% elif security_autoupdates_type == "all" %}
  "${distro_id} ${distro_codename}";
  "${distro_id} ${distro_codename}-security";
  // Extended Security Maintenance doesn't necessarily exist for every release - it might not even be installed -
  // but if available, unattended-upgrades should also install from here by default.
  "${distro_id}ESMApps:${distro_codename}-apps-security";
  "${distro_id}ESM:${distro_codename}-infra-security";
{% endif %}
};

Unattended-Upgrade::Mail "{{ security_autoupdates_mail_to | default('root') }}";
{% if security_autoupdates_mail_on_error %}
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}


Unattended-Upgrade::Package-Blacklist{
{% for package in security_autoupdates_blacklist %}
  "{{package}}";
{% endfor %}
}

Unattended-Upgrade::Automatic-Reboot "{{ security_autoupdates_reboot }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ security_autoupdates_reboot_time }}";
